body{
    overflow-x: hidden;
}

/*-------Animation----------*/
@keyframes tipsy {
    0 {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  body {
    font-family: helvetica, arial, sans-serif;
  }
  
  .link a {
    color: #fffbf1;
    text-shadow: 0 2px 2px #2e2e31, 0 4px 6px #2e2e31;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing:;
    margin: 0;
    position: absolute;
    top:50%;
    left:;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .link a:before,
  .link a:after {
    content: '';
    padding: .7em 2.4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 4px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
  }
  
  .link a:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }
  
  .link a:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
  }















/*-------Animation----------*/





.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

.navbar .nav-item.active{
    border-left: 3px solid #444;

}

.carousel-item{
    height:450px;

}
.carousel-image-1 {
    background: url(../img/image1.jpg);
    background-size: cover;
}
.carousel-image-2 {
    background: url(../img/image2.jpg);
    background-size: cover;
}
.carousel-image-3 {
    background: url(../img/image3.jpg);
    background-size: cover;
}

#home-heading{
    position: relative;
    min-height: 200px;
    background: url('../img/lights.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
#video-play{
    position: relative;
    min-height: 200px;
    background: url('../img/media.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0-300px;
    text-align: center;
    color: #fff;
}
#video-play a{
    color:#fff
}
.modal h3{
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 3px;
    font-weight: 600;
    
}

/*-----------About Us------------------*/
#page-header{
  height: 200px;
  background: url(../img/image1.jpg);
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border: ;
  padding-top: 50px;
  
}

.about-img{
  margin-top: -50px;
}
.card-hover{
  margin: 10px auto;
display: inline;
float: left;
width: 100%;
background-color: #fff;
transition: 0.5s;
}
.card-hover:hover{
  box-shadow: 0 2px 20px #333;
}

#faq .card{
  border:#444;

}
#faq a{
  color:#fff;
  text-decoration: none;
}
#faq .card-body,
#faq .card-header{
  background: #333;
}

#main-footer{
  background: #000;
  color:#fff;
}